In [6]:
import numpy as np
import pandas as pd
from simulator import simulator
from ads import ADS
import glob
import re

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.patches import Patch
from matplotlib.lines import Line2D
from matplotlib.colors import LinearSegmentedColormap

In [4]:
def plot_bp(df, y, ylab, path=None):
    
    matplotlib.rc_file_defaults()
    ax = sns.set_style(style=None, rc=None )
    fig, ax = plt.subplots(figsize=(10,10))
    plot_ = sns.boxplot(y=df[y])
    #sns.swarmplot(y=df[y], color=".25")
    ax.set_ylabel(ylab, fontsize=20)
    ax.tick_params(labelsize=15)
    if path is not None:
        plot_.figure.savefig(path)

In [20]:
cols = ['avg_ut', 'n_accidents', 'n_fat_in', 'n_fat_out', 'n_inj_in',
       'n_inj_out', 'weight_sec_in']
results_df = pd.DataFrame(data=None, columns=cols)

for i in glob.glob("results/*.csv"):
    df = pd.read_csv(i)
    df["weight_sec_in"] = float(re.findall("\d+\.\d+",  i)[0])
    results_df = pd.concat([results_df, df])

In [26]:
means = results_df.groupby(['weight_sec_in'], as_index=False)['avg_ut', 'n_accidents', 'n_fat_in', 'n_fat_out', 'n_inj_in',
       'n_inj_out'].mean()

devs = results_df.groupby(['weight_sec_in'], as_index=False)['avg_ut', 'n_accidents', 'n_fat_in', 'n_fat_out', 'n_inj_in',
       'n_inj_out'].std()

In [24]:
means

,weight_sec_in,avg_ut,n_accidents,n_fat_in,n_fat_out,n_inj_in,n_inj_out
0,0.0,0.468220,2.056,0.092,0.024,0.284,0.168
1,0.1,0.467748,2.082,0.066,0.018,0.292,0.164
2,0.2,0.459820,2.004,0.080,0.024,0.294,0.170
3,0.3,0.456869,1.982,0.064,0.016,0.302,0.182
4,0.4,0.450692,2.028,0.082,0.016,0.300,0.156
5,0.5,0.452843,2.106,0.048,0.022,0.296,0.156
6,0.6,0.442325,2.074,0.052,0.020,0.368,0.166
7,0.7,0.446229,1.252,0.024,0.006,0.040,0.036

In [27]:
devs

,weight_sec_in,avg_ut,n_accidents,n_fat_in,n_fat_out,n_inj_in,n_inj_out
0,0.000000,0.075912,1.434217,0.302852,0.153202,0.586542,0.414874
1,0.316228,0.063163,1.339726,0.264166,0.133084,0.589433,0.396760
2,0.447214,0.069590,1.424093,0.285943,0.153202,0.576393,0.396755
3,0.547723,0.068838,1.442858,0.260845,0.125601,0.589484,0.406456
4,0.632456,0.083553,1.476338,0.295721,0.125601,0.568019,0.389831
5,0.707107,0.086356,1.465284,0.223149,0.146830,0.580567,0.389831
6,0.774597,0.097488,1.418643,0.222249,0.140140,0.673411,0.408384
7,0.836660,0.067158,1.143289,0.165768,0.077304,0.196155,0.186477